* {
  
    box-sizing: border-box;

}
.overlay{
    display: none;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top:67px;
    height:10%;
    width: 100%;
    z-index:1000;
    position:fixed;
    background-image:linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-size: cover ;
    }

.closebtn{
    cursor: pointer;
    margin-left: 10px;
}

.Search-bar input {
    width: 350px;
    font-size: 24px;
    padding: 15px;
    outline: none;
    border: none;
}

.Search-bar input:focus{
    outline: none;
    background-color: rgb(243, 247, 247);
    border-radius: 20px;
}

.overlay button{
    float: left;
    width: 100%;
    padding: 10px;
    background: #b6d5ee;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(235, 232, 232);
}
.overlay button:hover {
    background: #94e1e0;
}
.navigation{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    height:60px;
    position: absolute;
    background-color:white;
    outline: 1px solid black;

  
}
 .navigation a { 
   
    padding-right: 30px;
    margin-top: 30px;
    color: rgb(30, 28, 28);
    text-decoration: none;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
}

.navigation a:hover {
    background-color: rgba(56, 167, 184, 0.188); 
     height:10px;
}

#lottie {
    margin-right: auto;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    margin-top: 0px;
    padding-right: 0px;
}

#lottie:hover {
    background-color: white;
}

body {
    margin: 0;
    height: 100%;
    width:100%;
    font-family: 'Roboto', sans-serif;
}

.background_graphic{
    background-image: url("../images/basketball_court_G.jpg");
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1200px;
    z-index: -200;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
     height: 580px;
    border-radius: 30px;
}

.main_content h1{
    width: 100%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 800;
    font-size: 200px;
    color: #000000;
    margin-top: 10px;
    padding-left: 200px;
    margin-bottom: 10px;
}

.main_content h2{
    width:90%;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: #000000;

}
.main_content p{

    width: 75%;
    margin-bottom: 20px;
    font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.signUpBotton{
    position:relative;
    width: 150px;
    /* top:30px; */
    background-color: #94e1e0;
    align-items: center;
    border-radius: 30px;
}

.signUpBotton a{
   text-decoration: none!important;
   color:white;
}

.signUpBotton h3{
    font-size: 25px;
    text-align: center;
    font-family:'Roboto', sans-serif;
    margin: 10px;
}

.signUpBotton a:hover{
    font-size: 25px ;
    font-family:'Roboto', sans-serif;
    text-align: center;
    color: rgba(0, 0, 0, 0.181);
    text-decoration: none;
}