* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.overlay{
    display: none;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top :67px;
    z-index:1000;
    position:fixed;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    height:10%;
    width: 100%;
    background-size: cover ;
    }
    
.closebtn{
    cursor: pointer;
    margin-left: 10px;
}

.Search-bar input {
    width: 350px;
    font-size: 24px;
    padding: 15px;
    outline: none;
    border: none;
}
.Search-bar input:focus{
    outline: none;
    background-color: rgb(243, 247, 247);
    border-radius: 20px;

}

.overlay button{
    float: left;
    width: 100%;
    padding: 10px;
    background: #b6d5ee;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(235, 232, 232);
}
.overlay button:hover {
    background: #94e1e0;
}
    

.navigation{
    display:flex;
    flex-direction: row;
    justify-content:flex-end;
    width: 100%;
    position: absolute;
    background-color:white;
    outline: 1px solid black;
    }

.navigation a {

    padding-right: 30px;
    margin-top: 30px;
    color: rgb(30, 28, 28);
    text-decoration: none;
    font-size: 20px;
    font-family:'Roboto', sans-serif;
}

.navigation a:hover {
    background-color: rgba(56, 167, 184, 0.188);
    height:10px;
}

#lottie {
    margin-right: auto;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    margin-top: 0px;
    padding-right: 0px;
  
}
#lottie:hover {
    background-color: white;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

.main {
  width: 100%;
  
}

.back_ground_graphic{
   
    background-image:linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:1500px;
    z-index: -20;
    background-size: cover;
    background-repeat: no-repeat;
   
}


.quiz {
    width: 800px;
    height:100%;
    display:flex;
    flex-direction:column;
    padding-top: 61.5px;

}

.slide {
    width: 100%;
    height: 100%;
    color: rgb(255, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
}

.slide:nth-of-type(1) {
   background-repeat: no-repeat;
   background-size: cover;
   width:800px ;
}
.slide:nth-of-type(2) {
    background-color: rgba(232, 176, 198, 0.558);
}
.slide:nth-of-type(3) {

    background-repeat: no-repeat;
    background-size: cover;
    width:800px ;
    background-color: rgba(192, 192, 193, 0.817);
}
.slide:nth-of-type(4) {
    background-color: rgba(44, 227, 172, 0.53);
}
.slide:nth-of-type(5) {
    background-color: rgba(131, 234, 247, 0.517);
}

.slide .info {
    font-size: 20px;
    margin-top: 150px;
}

.slide .start {
  
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

.slide .question {
    
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
}

.slide .answer {
    
    background-color: rgb(164, 179, 178);
    padding: 5px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.slide .answer:hover {
    transform: scale(1.1);
}

.slide .selected {
    background-color: rgb(18 157 150);
}
.slide-result-container{
    width: 100%;
    background-color: #6c6f6fc9;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    color: rgb(255, 249, 249) ;
}
.slide .result {
    align-items: center;
    background-color: rgb(128, 126, 124);
    border-radius: 20px;
    font-weight: 700;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
    cursor: pointer;
}

.slide .answeroutline {
    background-color: rgba(89, 94, 92, 0.715);
}

.result-image {
    width: 500px;
    
}

.result-image img {
    width: 500px;
    height: 350px;

}

.result-heading {
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-subheading {
    font-size: 20px;
    color: black;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.result-description {
    font-size: 16px;
    color: black;
    font-weight: 300;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}
.name {
    position: fixed;
    top: 0px;
    right: 50px;
    width: 100px;
    background-color: rgb(87, 72, 131);
    color: white;
    padding: 20px;
    text-align: center;
}
